html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-sizing: border-box;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo-link {
    margin-right: auto;
}

header .logo {
    height: 80px;
    transition: height 0.3s ease;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007BFF;
}

.form-container {
    background: #fff;
    padding: 50px 60px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    text-align: center;
    border: 1px solid #e0e0e0;
}

.form-container h2 {
    color: #007BFF;
    margin-bottom: 35px;
    font-size: 32px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 30px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 18px;
    color: #333;
}

.form-group input {
    width: 87%;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

.btn {
    width: 100%;
    padding: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

p {
    margin-top: 25px;
    font-size: 18px;
    color: #333;
}

p a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}
